/* * {
    box-sizing: border-box;
  }
  
  body {
    font-family: "Open Sans",
    sans-serif;
    font-size: 20px;
    color: #444;
    text-align: center;
    line-height: 1.5;
  }
  
  nav,
  footer {
    background-color: rgb(214, 204, 181);
  }

  footer{
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 11;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-bottom: 10px;
  }
  
  header {
    padding: 25px 15px;
  }
  
  section {
    min-height: 100px;
    padding: 30px 15px;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }
  
  p {
    margin: 0 auto;
    max-width: 650px;
  }
  
  p + p {
    margin-top: 15px;
  }
  
  .session-description::before {
    font-family: Georgia, serif;
    position: absolute;
    font-size: 6em;
    line-height: 1;
    top: 0;
    left: 0;
    content: "here"
  }

  */

  * {
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    padding: 0;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    font-family: Verdana;
  }
  
  nav, main, footer {
    padding: 20px;
  }


  header {
    padding: 5px;
  }

  footer {
    position: relative;
    left: 0;
    bottom: 0;
    right: 0;
  }


  header h2 {
    color: white;
    font-size: 20px;
  }

  header a{
    font-size: 50px;
    font-family: Georgia;
  }

  a {
    text-decoration: none;
    color: white;
    font-size: 15px;
  }
  
  nav, header, footer {
    background-color: #69626D;
    color: white;
  }
  
  h1,h2,h3 {
    font-family: Georgia;
    font-size: 30px;
    margin: 20px 0;
  }
  
  h2, h3 {
    color: #69626D;
  }
  
  img {
    width: 100%;
    max-width: 800px;
    margin: 20px 0;
  }
  
  form {
    margin: 20px;
    border: 2px solid steelblue;
    padding: 20px;
  }
  
  form p {
    margin: 10px;
  }
  
  form input {
    font-size: 20px;
    padding: 10px 5px;
    border-radius: 5px;
    border: 1px solid steelblue;
  }
  
  form button {
    background-color: steelblue;
    border: 0px;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    margin: 0 10px;
  }
  
  form button.cancel {
    background-color: #999;
  }


  .koda-logo {
    max-width: 100px;
    border-radius: 20px;
  }